.container {
    width: 100%;
    padding-top: 20px;


    .filterBox {
        :global {
            .ant-spin-spinning {
                position: absolute;
                top: 50%;
                left: 50%;
            }
        }
    }

    .logoBox {
        :global {
            .ant-space {
                width: 100%;
            }

            .ant-card-body {
                padding: 0;
            }

        }

        .titleWrapper {
            padding: 10px 20px 20px;

            img {
                max-width: 100px;
                max-height: 100px;
                object-fit: contain;
            }

            h2 {
                text-align: center;
                padding: 0;
            }

            .baseInfo {
                display: flex;
                justify-content: space-between;
            }
        }

        .content {
            position: relative;
            padding: 20px 0;
        }

    }

    .productInfoBox {
        display: flex;
        justify-content: space-between;

        .leftWrapper {
            width: 250px;
            display: flex;
            flex-direction: column;
        }
    }

    .trendChartBox {
        :global {
            .ant-radio-group {
                margin-bottom: 20px;
            }
        }
    }

    .assetsSpreadBox {

        :global {
            .fileImportIcon {
                color: #3D7FFF;
                font-size: 18px;
                position: absolute;
                right: 40px;
                top: 8px;
            }
        }

        h4 {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid;
        }

        .chartWrapper {
            display: flex;
            justify-content: space-between;

            .chartItem {
                width: 50%;
            }
        }
    }

    .titleAndTextBox {
        :global {
            .ant-space {
                box-sizing: border-box;
                margin: 0;
                color: rgba(0, 0, 0, 0.85);
                font-size: 14px;
                font-variant: tabular-nums;
                line-height: 1.5715;
                list-style: none;
                font-feature-settings: 'tnum', "tnum";
                position: relative;
                background: #fff;
                border-radius: 2px;
                padding: 24px;
                width: 100%;
                flex-direction: column;
                align-items: start;
                margin-bottom: 20px;
            }

            .ant-space-item {
                width: 100%;
            }

            .bf-container {
                width: 100%;
            }

            .bf-content {
                height: auto;
                overflow-y: auto;
                border: 1px solid #d9d9d9;
            }
        }

        .tradingDay {
            :global {
                .bf-content {
                    min-height: 250px;
                }
            }
        }

        .titleEditor {
            :global {
                .bf-content {
                    min-height: 80px;
                }
            }
        }
    }

    .tipsConfigBox {
        :global {
            .bf-container {
                width: 100%;
            }

            .bf-content {
                height: auto;
                min-height: 150px;
                overflow-y: auto;
                border: 1px solid #d9d9d9;
            }
        }
    }

    .fieldConfigBox,
    .showTableDataBox,
    .titleAndTextBox {
        position: relative;
    }

    .operateIcon_add,
    .operateIcon_edit,
    .operateIcon {
        color: #3D7FFF;
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .operateIcon_add,
    .operateIcon_edit {
        right: 40px;
    }
}


.logoModal {
    :global {
        .ant-typography {
            width: 80px;
            display: inline-block;
            text-align: right;
        }

        .ant-input {
            width: 70%;
        }

        .ant-upload {
            // width: 128px;
            // height: 128px;
            // line-height: 128px;
            cursor: pointer;

            >img {
                max-width: 128px;
                max-height: 128px;
                object-fit: contain;
            }
        }

        .ant-row {
            margin-bottom: 16px;
        }
    }

    .uploadBtn {
        border: 1px dashed #cccccc;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 25px;
    }

    .swatch {
        padding: 5px;
        background: #ffffff;
        border-Radius: 1px;
        box-Shadow: 0 0 0 1px rgba(0; 0; 0; .1);
        display: inline-block;
        cursor: pointer;

        .colorDiv {

            width: 140px;
            height: 36px;
            border-Radius: 2px;
        }
    }

    .popover {
        position: absolute;
        z-Index: 2;
    }
}

.fieldsModalWrapper {
    :global {
        .ant-modal-footer {
            text-align: center;
        }

        .ant-transfer-list {
            width: 250px;
            height: 400px;
        }
    }
}

.modalContainer {
    :global {
        .ant-form-item-label {
            width: 90px;
        }
    }
}

.exportFormModal {
    :global {
        .ant-form-item-label {
            width: 30%;
        }

        .ant-form-item-control {
            width: 70%;
        }

        .ant-select-selector {
            max-height: 200px;
            overflow-y: auto;
        }
    }
}
