@import '~antd/es/style/themes/default.less';

.textOverflow() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

// mixins for clearfix// ------------------------
.clearfix() {
    zoom: 1;

    &::before,
    &::after {
        display: table;
        content: ' ';
    }

    &::after {
        clear: both;
        height: 0;
        font-size: 0;
        visibility: hidden;
    }
}

.activitiesList {

    // padding: 0 24px 8px 24px;
    .paragraph {
        font-size: 12px;
        padding-top: 10px;
        margin-bottom: 0;
    }

    .waitingTime {
        text-align: right;
        font-size: 12px;
        color: #afafaf;
    }

    .username {
        color: @text-color;
    }

    .event {
        font-weight: normal;
    }
}

.loadMore {
    text-align: center;
    margin-bottom: 12px;
}

.pageHeaderContent {
    display: flex;

    .avatar {
        flex: 0 1 72px;

        &>span {
            display: block;
            width: 52px;
            height: 52px;
            border-radius: 72px;
            line-height: 72px;
            font-size: 16px;
        }
    }

    .content {
        position: relative;
        top: 4px;
        flex: 1 1 auto;
        // margin-left: 24px;
        color: @text-color-secondary;
        line-height: 22px;

        .contentTitle {
            height: 24px;
            font-size: 16px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 600;
            color: #000000;
            line-height: 24px;
            margin-bottom: 10px;

        }
        .contentNote{
            height: 18px;
            font-size: 12px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #9B9B9B;
            line-height: 18px;
            margin-right:10px;
        }
    }
}

.extraContent {
    .clearfix();
    vertical-align: middle;
    float: right;
    white-space: nowrap;

    .statItem {
        position: relative;
        display: flex;
        padding: 0 32px;

        >p:first-child {
            margin-bottom: 4px;
            color: @text-color-secondary;
            font-size: @font-size-base;
            line-height: 22px;
        }

        >p {
            margin: 0;
            color: @heading-color;
            font-size: 30px;
            line-height: 38px;

            >span {
                color: @text-color-secondary;
                font-size: 20px;
            }
        }

        &::after {
            position: absolute;
            top: 8px;
            right: 0;
            width: 1px;
            height: 40px;
            background-color: @border-color-split;
            content: '';
        }

        &:last-child {
            padding-right: 0;

            &::after {
                display: none;
            }
        }
    }
}

.members {
    a {
        display: block;
        height: 24px;
        margin: 12px 0;
        color: @text-color;
        transition: all 0.3s;
        .textOverflow();

        .member {
            margin-left: 12px;
            font-size: @font-size-base;
            line-height: 24px;
            vertical-align: top;
        }

        &:hover {
            color: @primary-color;
        }
    }
}


.datetime {
    color: @disabled-color;
}

.salesCard {
    .salesBar {
        padding: 0 0 32px 32px;
    }

    .salesRank {
        padding: 0 32px 32px 72px;
    }

    :global {
        .ant-tabs-bar {
            padding-left: 16px;

            .ant-tabs-nav .ant-tabs-tab {
                padding-top: 16px;
                padding-bottom: 14px;
                line-height: 24px;
            }
        }

        .ant-tabs-extra-content {
            padding-right: 24px;
            line-height: 55px;
        }

        .ant-card-head {
            position: relative;
        }

        .ant-card-head-title {
            align-items: normal;
        }
    }
}

@media screen and (max-width: @screen-xl) and (min-width: @screen-lg) {
    .activeCard {
        margin-bottom: 24px;
    }

    .members {
        margin-bottom: 0;
    }

    .extraContent {
        margin-left: -44px;

        .statItem {
            padding: 0 16px;
        }
    }
}

@media screen and (max-width: @screen-lg) {
    .activeCard {
        margin-bottom: 24px;
    }

    .members {
        margin-bottom: 0;
    }

    .extraContent {
        float: none;
        margin-right: 0;

        .statItem {
            padding: 0 16px;
            text-align: left;

            &::after {
                display: none;
            }
        }
    }
}

@media screen and (max-width: @screen-md) {
    .extraContent {
        margin-left: -16px;
    }

    .projectList {
        .projectGrid {
            width: 50%;
        }
    }
}

@media screen and (max-width: @screen-sm) {
    .pageHeaderContent {
        display: block;

        .content {
            margin-left: 0;
        }
    }

    .extraContent {
        .statItem {
            float: none;
        }
    }
}

@media screen and (max-width: @screen-xs) {
    .projectList {
        .projectGrid {
            width: 100%;
        }
    }
}





.cardTitle {
    height: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #111111;
    line-height: 16px;

}

.cardTitle::before {
    content: '';
    display: inline-block;
    background-image: url('../../assets/panel_icon.png');
    width: 32px;
    height: 32px;
    background-size: cover;
    vertical-align: middle;
    margin-right: 10px;
    // margin-right: 3px;
}

.colorBar {
    position: absolute;
    left: -2px;
    top: -8px;
    width: 8px;
    height: 134px;
    background: linear-gradient(191deg, #4E8DF6 0%, #2166CC 100%);
    box-shadow: 0px 1px 16px 0px #F2F4FB;
    border-radius: 10px 0 0 10px;
}

.pageWrapper {
    :global {
        .ant-pro-page-container-warp {
            margin: 16px 24px;
        }
    }
}

.activeCard {
    // max-height: 780px;
    overflow-y: auto;

    :global {
        .ant-card-head {
            border-bottom: none;
        }

        .ant-card-body {
            overflow: auto;
            height: 600px;
        }

        .ant-tabs-nav-wrap {
            justify-content:space-between;
            padding: 18px 0 12px;

            .ant-tabs-tab {
                width: 100px;
                margin: 0 !important;
                padding: 8px 0px !important;
                background: #F6F6F6;
                box-shadow: 0px 1px 1px 0px #F2F4FB;
                border-radius: 6px;
                border-bottom: none;
                justify-content: center;
            }

            .ant-tabs-tab-active {
                background: #3D7FFF;
                color: #fff;

                .ant-tabs-tab-btn {
                    color: #fff;
                }
            }

            .ant-tabs-ink-bar {
                display: none;
            }
        }
    }
}
